.burger{
    width: 30px;
    height: 25px;
    position: relative;
    top: 35px;
    display: none;
    z-index: 1000;


    @media (max-width:991px) {
        display: block;
        position: absolute;
        top: 35px;
        right: 28px;

    }



&:before{
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;



}

&:after{
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease-in-out;



}
}


.burger span{
    content:"";
    display: block;
    width: 30px;
    height: 3px;
    background-color:white;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    transition: all .1s ease-in-out;


}


 .burger._active span{
    transform: scale(0) translate(0px, -50%);
 }

 .burger._active:before{
    top: 50%;
    transform: rotate(45deg);
 }

 .burger._active:after{
    top: 50%;
    transform: rotate(-45deg);
 }




